.sidebar-widget a{
	color:#888;
}

.sidebar-widget a.active{
	color:#222;
}

.sidebar-widget a:hover{
	color:#222;
}

.sidebar-widget a{
	background-color: #ccc;
}

.center {
	text-align: center;
}

.autocenter {
	margin-left: auto;
	margin-right: auto;
}

.article-body p.lead {
	font-size: 28px;
	font-weight: 100;
	line-height: 1.7;
}


footer.bg-primary {
	background-color: #333 !important;
}

@media screen and (max-width: 767px) {
.blog-sidebar {
  display: block !important;
  text-align: center;
}
}