<div class="footer-container">
  <footer class="bg-primary short-2">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-xs-12">
          <span class="text-white">© 2015 LanceMatch Inc.</span>
          <span class="text-white"><a href="mailto:hello@lancematch.com">hello@lancematch.com</a></span>
          <span class="text-white">+1 444 444 4444</span>
        </div>
      </div><!--end for row-->
    </div><!--end of container-->
  </footer>
</div>

{% javascript app %}
