  <div class="nav-container">
    <nav class="top-bar overlay-bar">
      <div class="container">
        <div class="row nav-menu">
          <div class="col-sm-3 col-md-2 columns">
            <a href="/">
              {% image branding/logo-light.png class="logo logo-light" alt="Logo"%}
              {% image branding/logo-dark.png class="logo logo-dark" alt="Logo"%}
            </a>
          </div>
          <div class="col-sm-9 col-md-10 columns">
            <ul class="menu">
              <li><a href="/">Home</a></li>
              <li><a href="/how-it-works/overview">How It Works</a></li>
              <li><a href="/referrals">Referrals</a></li>
              <li><a href="/blog">Blog</a></li>
            </ul>
            <ul class="social-icons text-right">
              <li>
              <a href="{{site.twitter_url}}">
                <i class="fa fa-twitter"></i>
              </a>
              </li>

              <li>
              <a href="{{site.facebook_url}}">
                <i class="fa fa-facebook"></i>
              </a>
              </li>
            </ul>
          </div>
        </div><!--end of row-->
        <div class="mobile-toggle">
          <i class="icon fa fa-bars"></i>
        </div>
      </div><!--end of container-->
    </nav>
  </div>
