.bg-primary {
  background-color: #e74c3c !important;
}

.bg-white {
  background-color: #fff !important;
}

.text-white {
  color: #fff;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #777777;
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h5,
h5 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #333333;
  margin: 0px;
}

.alt-font {
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a:hover {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 48px;
}

h2 {
  font-size: 28px;
  line-height: 44px;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}

strong {
  font-weight: 600;
}

p {
  font-size: 14px;
  line-height: 24px;
}

#work {
  background-color: rgba(255,255,255, 0.87);
}

#freelancer {
  background-color  : #E74C3C;
  border: 2px solid #E74C3C;
}

p.lead {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
}

p:last-child {
  margin-bottom: 0px;
}

p a {
  color: #333333;
}

span.text-white a {
  font-weight: 600;
  color: #fff;
}

.main-container {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  overflow: hidden;
  width: 100%;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
  text-align: center;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 1;
}

.process {
  list-style: none;
  padding: 0px;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #e74c3c;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
}

section.duplicatable-content {
  padding-bottom: 40px;
}

section:nth-of-type(odd) {
  background: #f4f4f4;
}

section:nth-of-type(even) {
  background: #ffffff;
}

.no-pad {
  padding: 0px;
}

.btn {
  background: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  min-width: 155px;
}

.btn:hover {
  background: none;
  color: #fff;
  border-color: #3498db;
  background-color: #3498db;
}

.btn-primary {
  border-radius: 25px;
  display: inline-block;
  padding: 14px 28px 13px 28px;
  line-height: 1;
  border: 2px solid #3498db;
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3498db;
  width: 200px;
}

.btn-primary.btn-filled {
  background: #3498db;
  color: #fff;
}

.btn-white {
  border-color: #fff;
  color: #fff;
}

.btn-white:hover {
  background: #fff;
  color: #333333;
  border-color: #fff;
}

.btn-white.btn-filled {
  background: #fff;
  color: #e74c3c;
}

.mobile-toggle {
  display: none;
}

.top-bar {
  position: absolute;
  background: #fff;
  width: 100%;
  z-index: 10;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  line-height: 0;
  top: 0;
}

.top-bar .logo {
  max-width: 80px;
  position: relative;
  bottom: 7px;
}

.nav-menu {
  padding-top: 40px;
}

.nav-menu .social-icons {
  float: right;
}

.overlay-bar {
  background: none;
}

.menu {
  list-style: none;
  padding: 0px;
  margin: 0;
  display: inline-block;
  position: relative;
  top: 2px;
}

.menu li {
  float: left;
  margin-right: 56px;
  position: relative;
}

.menu li:last-child {
  margin-right: 0px;
}

.menu li a {
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #777777;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  padding-bottom: 40px;
  display: inline-block;
  line-height: 14px;
}

.menu li a:hover {
  color: #333333;
}

@media all and (max-width: 1050px) {
  .menu li {
    margin-right: 32px;
  }
}

.top-bar .social-icons li a {
  font-size: 16px;
}

.top-bar .logo-light {
  display: none;
}

.overlay-bar .menu li a {
  color: #fff;
}

.overlay-bar .menu li a:hover {
  color: #fff;
}

.overlay-bar .social-icons li a {
  color: #fff;
}

.overlay-bar .logo-dark {
  display: none;
}

.overlay-bar .logo-light {
  display: block;
}

.nav-sticky {
  position: fixed !important;
  top: 0;
}

.nav-sticky .logo {
  bottom: 5px;
}

.top-bar.nav-sticky {
  background: rgba(255, 255, 255, 0.9);
}

.overlay-bar.nav-sticky .logo-light {
  display: none;
}

.overlay-bar.nav-sticky .logo-dark {
  display: block;
}

.overlay-bar.nav-sticky .menu li a {
  color: #777777;
}

.overlay-bar.nav-sticky .social-icons li a {
  color: #333333;
}

.overlay:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  content: '';
  opacity: 0.8;
  z-index: 2;
  background-color: #e74c3c;
  left: 0;
}

.overlay .container {
  position: relative;
  z-index: 3;
}

header {
  position: relative;
  overflow: hidden;
}

header .container {
  position: relative;
  z-index: 3;
}

header .btn {
  margin-right: 16px;
}

header .btn:last-child {
  margin-right: 0px;
}

.page-header {
  margin: 0px;
  padding: 0px;
  padding: 135px 0px;
  border-bottom: none;
}

.page-header h1 {
  font-size: 40px;
  margin-bottom: 24px;
}

.page-header p.lead {
  font-size: 18px;
}

.page-header:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  content: '';
  opacity: 0.3;
  z-index: 2;
  background-color: #333333;
}

.page-header .background-image-holder {
  height: 150%;
  top: -20%;
}

.header-icons {
  padding: 160px 0px;
  position: relative;
  overflow: hidden;
}

.header-icons h1 {
  margin-bottom: 80px;
}

.header-icons i {
  font-size: 56px;
  display: inline-block;
  margin-bottom: 16px;
}

.action-banner {
  padding: 104px 0px;
  overflow: hidden;
  position: relative;
}

.action-banner .container {
  position: relative;
  z-index: 3;
}

.action-banner h1 {
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  margin-bottom: 64px;
  margin-bottom: 24px;
}

.action-banner h2 {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 48px;
  margin-bottom: 40px;
}

.action-banner .btn {
  margin-right: 16px;
}

header.centered-text h1 {
  font-size: 40px;
  margin-bottom: 24px;
  line-height: 56px;
}

header.centered-text .btn {
  margin-right: 16px;
  margin-top: 24px;
}

header.fullscreen-element .overlay:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  content: '';
  opacity: 0.3;
  z-index: 2;
  background-color: #333333;
}

.feature {
  overflow: hidden;
}

.feature i {
  color: #e74c3c;
}

.feature-icon-large i {
  display: block;
  height: 104px;
  width: 104px;
  border: 2px solid #e74c3c;
  border-radius: 50%;
  text-align: center;
  color: #e74c3c;
  font-size: 40px;
  padding-top: 31px;
  margin-bottom: 32px;
}

.duplicatable-content .feature {
  margin-bottom: 40px;
}

.clients p {
  margin-bottom: 48px !important;
}

.client-row {
  overflow: hidden;
  text-align: center;
  line-height: 0;
}

.client-row .col-sm-3 {
  display: inline-block;
  min-height: 80px;
  line-height: 80px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.client-row .row-wrapper {
  display: inline-block;
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.client-row:last-child .row-wrapper {
  border-bottom: none;
}

.row-wrapper .col-sm-3 {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.row-wrapper .col-sm-3:last-child {
  border-right: none;
}

.background-image-holder {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  z-index: 0;
  background-position: 50% 50% !important;
}

.background-image-holder.parallax-background {
  height: 120%;
  top: -10%;
}

.strip::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

.strip:-ms-input-placeholder {
  color: #999999;
}

.strip input:-moz-placeholder {
  color: #ffffff;
}

.strip textarea:-moz-placeholder {
  color: #ffffff;
}

.social-icons {
  list-style: none;
  padding: 0px;
  overflow: hidden;
  display: inline-block;
}

.social-icons li {
  float: left;
  margin-right: 24px;
  font-size: 24px;
}

.social-icons li:last-child {
  margin-right: 0px;
}

.social-icons li a {
  color: #333333;
}

.team-1 h1 {
  margin-bottom: 40px;
}

.team-1-member {
  text-align: center;
  margin-top: 48px;
}

.team-1-member h5 {
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 17px;
}

.team-1-member .social-icons {
  margin-top: 8px;
}

.team-1-member .social-icons li a {
  font-size: 18px;
}

.blog-list-3 {
  padding: 0px;
}

.blog-snippet-3 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.blog-snippet-3 h1 {
  margin-bottom: 16px;
}

.blog-snippet-3 h1 a {
  color: #333333;
}

.blog-snippet-3 h1 a em {
  color: #e74c3c;
  font-weight: 600;
  font-style: normal;
}

.article-single {
  background: #f4f4f4 !important;
}

.article-body p {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 24px;
}

.article-body h2 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 24px;
}

.article-body {
  padding-bottom: 64px;
  border-bottom: 1px solid #ddd;
}

.author-details {
  text-align: center;
  padding: 40px 0px;
  border-bottom: 1px solid #ddd;
}

.author-details img {
  display: inline-block;
  margin-bottom: 16px;
}

.author-details h5 {
  font-weight: normal;
}

.author-details .social-icons {
  margin-bottom: -8px;
  margin-top: 8px;
}

#tweets .user {
  display: none;
}

#tweets .interact {
  display: none;
}

.form-contact input::-moz-placeholder,
.form-contact textarea::-moz-placeholder {
  color: #777777;
  opacity: 1;
}

.form-contact input:-ms-input-placeholder,
.form-contact textarea:-ms-input-placeholder {
  color: #777777;
}

.form-contact input input:-moz-placeholder,
.form-contact textarea input:-moz-placeholder {
  color: #777777;
}

.form-contact input textarea:-moz-placeholder,
.form-contact textarea textarea:-moz-placeholder {
  color: #777777;
}

footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

footer.short-2 {
  position: relative;
  overflow: hidden;
}

footer.short-2 span {
  display: inline-block;
  margin-right: 64px;
}

footer.short-2 span:last-child {
  margin-right: 0px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .top-bar {
    position: absolute;
  }

  nav {
    max-height: 80px;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
  }

  nav .logo {
    margin-bottom: 32px;
  }

  nav .columns {
    width: 100%;
  }

  nav .social-icons {
    display: none;
  }

  .nav-menu {
    padding-top: 24px;
  }

  .top-bar .logo {
    bottom: 0px;
  }

  .mobile-toggle {
    font-size: 32px;
    display: block;
    position: absolute;
    top: 24px;
    right: 16px;
    cursor: pointer;
    color: #333333;
  }

  .overlay-bar {
    background: rgba(255, 255, 255, 0.9);
  }

  .overlay-bar .logo-light {
    display: none;
  }

  .overlay-bar .logo-dark {
    display: block;
  }

  .top-bar .menu li a {
    color: #777777;
    padding-bottom: 0px;
  }

  .overlay-bar .menu li a:hover {
    color: #333333;
  }

  .menu {
    top: 0px;
  }

  .menu li {
    float: none;
    margin-bottom: 16px;
    margin-right: 0px;
  }

  section,
  header {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  h1 {
    font-size: 24px;
    line-height: 32px;
  }

  p.lead {
    font-size: 14px;
    line-height: 24px;
  }

  .action-banner h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .action-banner h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .btn {
    margin-top: 16px;
  }

  .header-icons {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .page-header br {
    display: none;
  }

  .page-header h1 {
    font-size: 32px;
    line-height: 40px;
  }

  header.centered-text h1 {
    font-size: 24px;
    line-height: 32px;
  }

  .header-icons h2 {
    margin-bottom: 32px;
  }

  .row-wrapper {
    border-bottom: none;
  }

  .row-wrapper .col-sm-3 {
    border-right: none;
  }

  footer.short-2 {
    padding-bottom: 0px;
  }

  footer.short-2 span {
    margin-right: 16px;
  }

  .pure-text-contact br {
    display: none;
  }

  .fullscreen-element {
    height: auto !important;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .top-bar {
    position: absolute;
  }

  nav {
    max-height: 80px;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
  }

  nav .logo {
    margin-bottom: 32px;
  }

  nav .columns {
    width: 100%;
  }

  nav .social-icons {
    display: none;
  }

  .nav-menu {
    padding-top: 24px;
  }

  .top-bar .logo {
    bottom: 0px;
  }

  .mobile-toggle {
    font-size: 32px;
    display: block;
    position: absolute;
    top: 24px;
    right: 16px;
    cursor: pointer;
    color: #333333;
  }

  .overlay-bar {
    background: rgba(255, 255, 255, 0.9);
  }

  .overlay-bar .logo-light {
    display: none;
  }

  .overlay-bar .logo-dark {
    display: block;
  }

  .overlay-bar .menu li a {
    color: #777777;
    padding-bottom: 0px;
  }

  .overlay-bar .menu li a:hover {
    color: #333333;
  }

  .menu {
    top: 0px;
  }

  .menu li {
    float: none;
    margin-bottom: 16px;
    margin-right: 0px;
  }

  footer.short-2 {
    padding-bottom: 0px;
  }

  footer.short-2 span {
    margin-right: 32px;
  }
}

.sidebar-widget h5 {
  margin-bottom: 16px;
}

.sidebar-widget li {
  padding: 16px 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.sidebar-widget li:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

.sidebar-widget {
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .blog-sidebar {
    display: none;
  }
}

@media all and (max-width: 767px) {
  .fullscreen-element .align-vertical {
    padding-top: 80px !important;
  }
}
