---
layout: default
---
{% assign author = site.data.authors[page.author] %}
<div class="main-container">
  <header class="page-header">
    <div class="background-image-holder parallax-background">
      <img src="{% asset_path hero/how-it-works.jpg %}" class="background-image" alt="Background Image" />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="text-white">{{page.title}}</h1>
          <p class="lead text-white">{{page.lead}}</p>
        </div>
      </div>
    </div>
  </header>

  <section class="article-single">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <div class="article-body">
            {{ content }}
          </div><!--end of article body-->
        </div>
      </div><!--end of row-->

      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="author-details">
            <img class="img-circle" alt="Author" src="{{ author.image }}" width="200">
            <h5>{{ author.name }}</h5>
            <p> {{ author.bio }} </p>
            <ul class="social-icons">
              {% if author.twitter_url %}
              <li>
              <a href="{{author.twitter_url}}">
                <i class="fa fa-twitter"></i>
              </a>
              </li>
              {% endif %}
              {% if author.facebook_url %}
              <li>
              <a href="{{author.facebook_url}}">
                <i class="fa fa-facebook"></i>
              </a>
              </li>
              {% endif %}
              {% if author.tumblr_url %}
              <li>
              <a href="{{author.tumblr_url}}">
                <i class="fa fa-tumblr"></i>
              </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div><!--end of row-->
    </div><!--end of container-->	
  </section>
</div>
