---
layout: default
---
<div class="main-container">
  <header class="page-header">
    <div class="background-image-holder parallax-background">
      <img src="{% asset_path hero/process.jpg %}" class="background-image" alt="Background Image" />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="text-white">Our Process</h1>
        </div>
      </div>
    </div>
  </header>
  <section class="article-single">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-offset-1">
          <div class="blog-sidebar">
            <div class="sidebar-widget">
              <h5>Our Process</h5>
              <ul class="process">
                <a href="/process/overview"   {% if page.url == "/process/overview/index.html" %}class="active"{% endif %}><li>Overview</li></a>
                <a href="/process/submission" {% if page.url == "/process/submission/index.html" %}class="active"{% endif %}><li>Submission</li></a>
                <a href="/process/selection"  {% if page.url == "/process/selection/index.html" %}class="active"{% endif %}><li>Selection</li></a>
                <a href="/process/payment" {% if page.url == "/process/payment/index.html" %}class="active"{% endif %}><li>Payment</li></a>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-9">
          <div class="article-body">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
